@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  letter-spacing: 1.2px !important;
  font-family: "Poppins", sans-serif !important;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  color: white;
  font-weight: bold;
  font-size: 30px !important;
  display: none !important;
}
.swiper-pagination-bullet-active {
  background-color: #c89633 !important;
}
.swiper-pagination {
  margin-top: 25px !important;
}
#removeBar::-webkit-scrollbar {
  display: none;
}
.react-multi-carousel-dot-list {
  display: none !important;
}
.react-multi-carousel-track {
  padding: 10px !important;
}
